// VARIABLES


// COLORS
$red-main: hsl(356, 100%, 66%);
$red-sec: hsl(355, 100%, 74%);

$blue-main: hsl(208, 49%, 24%);
$grey-blue-dark: hsl(207, 13%, 34%);
$black-blue-dark: hsl(240, 10%, 16%);

$white: hsl(0, 0%, 100%);
$grey-blue: hsl(240, 2%, 79%);

//GRADIENTS
$intro-gradient: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
$bg-gradient: linear-gradient(90deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 100%);

// TYPOGRAPHY
$font-main: 'Overpass', sans-serif;
$font-sec: 'Ubuntu', sans-serif;